.firsttt{
    /* background: red; */
    width: 100%;
    height: 160px;
}
.first1 {
    background: #FAFAFA;
    height: 90px;
    top: 34px;
    border-radius: 70px;
    position: relative;
}



.first2 {
    background-color: rgb(227, 227, 227);
    /* max-width: 571px;
    max-height: 60px; */
}
.second{
    /* max-height: 700px; */
    background-color: #ff7d7d;
    /* background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%); */
}
.fonnt{
    font-size: 70px;
}




/* .first4 {
    background-color: rgb(113, 138, 154);
    width: 100px;
    position: relative;
    top: -1px;
    left: 830px;
}
.first5{
background-color: blue;
   position: relative;
    top: 0px;
    left: -30px;
} */

.first5 button {
    background: #FEFEFF;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    border: 1px;
}

.tirth{
    /* background-color: #777676; */
    width: 100%;
    max-height: 500px;
    margin-top: 30px;
}
.fouth{
    /* background-color: #ff7d7d; */
max-height: 900px;
margin-top: 40px;
}